h1 {
    font-family: 'Special Elite';
}
.material-icons.tiny { font-size: 1rem; }
.material-icons.small { font-size: 2rem; }
.material-icons.medium { font-size: 3rem; }
.material-icons.large { font-size: 4rem; }
.icon-label {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.heading {
    font-family: "Special Elite";
}
select {
    background-color: red;
}
nav .brand-logo {
    position: relative;
}
